body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: cyan;
    display: flex;
    flex-direction: column;

}

#display {
    height: 50px;
    background-color: white;
    border: 3px black solid;
}

#buttons {
    display: flex;
    flex-direction: column;
    background-color: green;
    border: 3px black solid;
}

.button {
    background-color: yellow;
    border: 1px black solid;
    width: 32px;
    height: 19px;
    text-align: center;
}

.button-row {
    display: flex;
    gap: 10px;
}